
.Rank-container{
    margin-top: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 2.5rem;

    .container{
        display: flex;
        justify-content: center;
    }

}

.rank-content{
    span{
        margin-left: 1rem;
        color: white;
    }
}