.Tilt{
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 10rem !important;
    z-index: 4;

    @media (max-width: 1024px){
        box-shadow: none !important;
        position: absolute !important;
        top: -1rem !important;
        left: -2.5rem !important;
    }

}

.Tilt-inner{
    position: absolute !important;
    top: -1rem !important;
}